<a class="hiddenanchor" id="signin"></a>

<div class="login_wrapper">
  <div class="animate form login_form">
    <section class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Log in | Usuário</h1>
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail" %>
        </div>
        <div>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Senha"  %>
        </div>

        <div>
          <%= f.submit "Entrar", class: "btn btn-secondary btn-lg btn-block", style: "float: none; margin-left: 0px;" %>
        </div>

        <div class="clearfix"></div>

        <div class="separator">
          <!--<p class="change_link">New to site?
            <a href="#signup" class="to_register"> Create Account </a>
          </p>-->

          <div class="clearfix"></div>
          <br />

          <div>
            <!--<h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>-->
            <p>©2020 All Rights Reserved. Privacy and Terms</p>
          </div>
        </div>
      <% end %>
    </section>
  </div>
</div>