<% @questions.each do |question| %>
  <div class="jumbotron">
    <% unless params[:term] %>
      <h3>Últimas perguntas cadastradas</h3>
    <% else %>
      <h3><%= "Resultados para o termo \"#{params[:term]}\"" %></h3>
    <% end %>
  </div>
  <%= form_with url: site_answer_path, local: true do |form| %>
    <div class="card">
      <div class="card-header">
        <%= question.description %>
      </div>
      <div class="card-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style: none">
              <div class="checkbox">
                <label>
                  <%= radio_button_tag('answer_id', answer.id, checked = false) %>
                  <%= answer.description %>
                </label>
              </div>
            </li>
          <% end %>
          <li style="list-style: none">
            <%= form.submit 'Responder', class:"btn btn-light" %>
          </li>
        </ul>
      </div>
    </div>
    <br>
  <% end %>
<% end %>

<div class="pagination justify-content-center">
  <%= paginate @questions,  theme: 'twitter-bootstrap-4', 
                            pagination_class: "pagination-sm" %>
</div>
